@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 212, 237);
}
.footer-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.footer-brand{
    padding: 1rem;
}

.footer-brand p{
    font-family: 'Poppins';
    margin-top: 1rem;
}

.footer-brand img{
    width: 120px;
    height: 120px;
}

.footer-left{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.footer-left .footer-column{
    margin: .5rem 2rem;
}

.footer-column ul{
    list-style: none;
}

.footer-column ul li{
    margin: 1.7rem 1.2rem;
}

.footer-column ul li a{
    color: black;
}
.faIcons{
    font-size: 2rem;
    margin: 1rem 1rem;
}

.copyright{
    text-align: left;
    padding: 1rem 2rem;
    border-top: 1px solid #7e7c7c;;
    font-family: 'Poppins';
    background-image: transparent;
    height: 50px;
    color: #5b5959;;
    ;}

    .copyright h4{
        font-family: 'Poppins';
        font-weight: lighter;
    }
/* Media Queries */
@media screen and (min-width: 768px) {
    .footer-container {
      flex-direction: row;
    }
  
    .footer-left .footer-column {
      flex: 1 1 auto;
    }
  
    .footer-brand {
      text-align: left;
    }
  
    .footer-left .footer-column:nth-child(2),
    .footer-left .footer-column:nth-child(3) {
      margin: 0.5rem;
    }
  }